<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div id="content">
    <h1>ToDo</h1>
    <p><a href="/todo">ToDo</a></p>

  </div>
  </body>
</html>
